.red-btn {
    padding: 0.6rem 1.2rem;
    background-color: #db4444;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
    transition: 0.2s ease-in-out;
    margin: 0 auto;
}
.red-btn:hover {
  background-color: #b63737;
}
.white-btn {
  padding: 12px;
  border: 1px solid #ccc;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px 0;
  transition: 0.25s;
  font-weight: 600;
}

.white-btn:hover {
  background: #f5f5f5;
}